name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Test sync
      run: dotnet test tests/tests.csproj --collect:"XPlat Code Coverage"
    - name: Test async
      run: dotnet test tests/tests.csproj /p:DefineConstants="ASYNC_WITH_CUSTOM" --collect:"XPlat Code Coverage"
    - name: Upload coverage files
      env:
        CODACY_PROJECT_TOKEN: ${{secrets.CODACY_PROJECT_TOKEN}}
      run: bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l CSharp $(find . -name 'coverage.cobertura.xml' -printf '-r %p ')
      if: github.ref == 'refs/heads/master' && github.event_name != 'pull_request'
